.hello {
  width: 300px;
  height: 300px;
  background-image: url(/img/payments.png);
  background-position: center;
  background-repeat: no-repeat;
}

.header {
  height: 72px;
  display: flex;
  justify-content: center;
  background: #1D66FF;
  color: white;
}

.header__logo {
  font-family: Poppins, sans-serif;
  font-weight: 700;
}

.header__nav {
  width: 1024px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header__list {
  width: 450px;
  display: flex;
  justify-content: space-between;
  
}

.header__item {
  list-style: none;
}

.href {
  color: white;
  font-family: Poppins, sans-serif;
  font-weight: 400;
  text-decoration: none;
  transition: text-shadow 0.3s;
  font-family: Poppins-Regular;
}

.href:hover {
  text-shadow: 1px 2px 10px #3f3f3f;
}

.header__up {
  padding: 5px 25px;
  border: 1px solid white;
  border-radius: 8px;
  font-weight: 500px;
  font-size: 12px;
  line-height: 32px;
  color: #fff;
  text-decoration: none;
}

.header__in {
  padding: 0 10px;
  font-weight: 500px;
  font-size: 12px;
  line-height: 32px;
  color: #fff;
  text-decoration: none; 
}

.img {
  width: 398px;
  height: 266px;
  background-image: url('../img/payments.png');
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 8px 11px 25px black;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.section {
  width: 1024px;
  margin-bottom: 60px;
  background-color: #F5F7FA;
}

.firstBlock {
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

.text {
  margin: 0 auto;
  width: 370px;
  font-family: Poppins-Regular;
}

.blocks {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  counter-reset: num;
}

.info {
  width: 264px;
}

.info::before {
  content: counter(num);
  counter-increment: num;
  color: #1D66FF;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
  margin-left: -30px;
  margin-right: 6px;
  padding: 5px 8px;
  background-color: #DDE8FE;
  border-radius: 50%;
}

.button {
  padding: 10px 30px;
  border: 0;
  border-radius: 8px;
  background-color: #1D66FF;
  color: white;
  outline: none;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #253858;
}

.footer__news {
  width: 1024px;
  height: 104px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  border-bottom: 1px solid #000;
}

.f {
  height: 300px;
  width: 1024px;
  background-image: url('../img/try_coinclustr_today.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: 1;
}

.input {
  padding: 9px;
  border: 0;
  border-radius: 8px;
  outline: none;
  margin-right: 10px;
}

.container {
  margin: 50px;
}

.title {
  text-align: center;
}

.content {
  margin: 0 auto;
  width: 1024px;
  text-align: center;
}

.more {
  text-decoration: none;
  color: #1D66FF;
}

.fraud {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer__midl {
  width: 1024px;
  display: flex;
  justify-content: space-around;
}

.footer__coinclustr {
  display: flex;
  flex-direction: column;
}

.footer__text {
  width: 280px;
}